
# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace
xcuserdata/

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# macOS junk
.DS_Store
._*
